.h1{
    font-family: Exo2;
    font-size: 56px;
    font-style: normal;
    margin: 0px;
    font-weight: 700;
    line-height: 90%;
}

.h2 {
    font-family: Exo2;
    font-size: 44px;
    font-style: normal;
    font-weight: 700;
    margin: 0;
    line-height: 100%;
}

.h3 {
    font-family: Exo2;
    font-size: 32px;
    margin: 0;
    font-style: normal;
    font-weight: 700;
    line-height: 130%;
}

.h4 {
    color: #000;
    font-family: Exo2;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%;
    margin: 0;
}